<%- include('side_bar.ejs') %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Disciplinas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Disciplinas</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                </tr>
            </thead>
            <tbody>
                <% disciplinas.forEach(function(disciplina) { %>
                <tr>
                    <td><%= disciplina.name %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
